<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sid.campusportal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/scholar_icon_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scholar_icon_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Portal.MarksActivity"
            android:label="Marks"
            android:theme="@style/AppBar"
            ></activity>
        <activity android:name=".Portal.VideoActivity"
            android:theme="@style/AppBar"
            android:screenOrientation="landscape"
            android:label="Videos"/>
        <activity android:name=".Portal.SolutionsActivity"
            android:label="Test Solutions"
            android:theme="@style/AppBar"/>
        <activity android:name=".Portal.BookletActivity"
            android:label="Booklets"
            android:theme="@style/AppBar"/>
        <activity android:name=".Portal.TimetableActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppBar"
            android:label="TimeTable"/>
        <activity android:name=".Portal.ScheduleActivity"
            android:screenOrientation="landscape"
            android:label="Schedule"
            android:theme="@style/AppBar"/>
        <activity android:name=".Basic.HomeActivity" />
        <activity
            android:name=".Basic.ResetPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Basic.SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Basic.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Basic.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>